In [1]:
import csv
import pandas as pd
import numpy as np

In [2]:
heatmap_df = None

In [ ]:
def init_heatmap():

In [ ]:
def add_to_heatmap(reader):
    if heatmap_df is None:
        heatmap_df = pd.DataFrame(reader)
        return 
    next(reader)
    for _ in range(10):
        print(next(reader))

In [5]:

with open ('first.csv', 'r') as first_coords:
    reader = csv.reader(first_coords)
    
    
heatmap_df.head()

['37.75835', '-122.421394']
['37.758352', '-122.421392']
['37.758359', '-122.421388']
['37.758364', '-122.42138']
['37.758368', '-122.421367']
['37.758368', '-122.421367']
['37.758379', '-122.421356']
['37.758379', '-122.421356']
['37.758383', '-122.42135']
['37.758388', '-122.421344']

         lat        long
0  37.758350 -122.421394
1  37.758352 -122.421392
2  37.758359 -122.421388
3  37.758364 -122.421380
4  37.758368 -122.421367

In [35]:
df = heatmap_df
df.head()

         lat        long
0  37.758350 -122.421394
1  37.758352 -122.421392
2  37.758359 -122.421388
3  37.758364 -122.421380
4  37.758368 -122.421367

In [42]:
df[(df['long']+122.421321 == 0.000001)]

Empty DataFrame
Columns: [lat, long]
Index: []